name: Build and Deploy React App

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install

      - name: Get short SHA
        run: |
          echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Build React App
        run: |
          version=$SHORT_SHA
          path="${{ secrets.BUCKET_URL }}$version"
          REACT_APP_VERSION=$version PUBLIC_URL=$path npm run build

      - name: Install Wrangler
        run: npm install -g wrangler@latest

      - name: Install rclone
        run: |
          curl https://rclone.org/install.sh | sudo bash

      - name: Upload to Cloudflare R2
        env:
          R2_BUCKET: ${{ secrets.R2_BUCKET }}
          R2_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
          R2_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          R2_ENDPOINT: ${{ secrets.R2_ENDPOINT }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.R2_API_TOKEN }}
        run: |
          mkdir -p ~/.config/rclone
          touch ~/.config/rclone/rclone.conf
          echo "[$R2_BUCKET]" >> ~/.config/rclone/rclone.conf
          echo "type = s3" >> ~/.config/rclone/rclone.conf
          echo "provider = Cloudflare" >> ~/.config/rclone/rclone.conf
          echo "access_key_id = $R2_ACCESS_KEY_ID" >> ~/.config/rclone/rclone.conf
          echo "secret_access_key = $R2_SECRET_ACCESS_KEY" >> ~/.config/rclone/rclone.conf
          echo "endpoint = $R2_ENDPOINT" >> ~/.config/rclone/rclone.conf
          ./scripts/upload-to-cloudflare-r2.sh $SHORT_SHA $R2_BUCKET

      - name: Capture main js file
        run: |
          echo "MAIN_JS_PATH=$(ls -1 build/static/js/main.*.js | sed 's/build\///g')" >> $GITHUB_ENV

      - name: Update Cloudflare KV
        run: |
          path="${{ secrets.BUCKET_URL }}${{ steps.short-sha.outputs.sha }}/$MAIN_JS_PATH"
          wrangler kv:key put --namespace-id=${{ secrets.BE_FE_NAMESPACE }} "90000" "${{ steps.short-sha.outputs.sha }}"
          wrangler kv:key put --namespace-id=${{ secrets.FE_JS_NAMESPACE }} "${{ steps.short-sha.outputs.sha }}" $path
          wrangler kv:key put --namespace-id=${{ secrets.FE_JS_NAMESPACE }} "latest" $path
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_WORKERS_API_KEY }}
